__pycache__/
*.pyctemplates/base_template.pptx
*.pyc
*.env
# Ignore sensitive files
firebase-adminsdk.json
.env
__pycache__/
*.pyc
__pycache__/
*.pyc
*.pyo
*.log
*teacherfy-backend/
.env.development
*test_downloads/
*backup_20250519_111856/